.page {
    font-family: 'Inter', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #000000;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    margin: 28px auto 36px;
    display: flex;
    flex-direction: column;
    /*max-width: 320px;
    min-width: calc(100% - 15px);*/
    width: 100%;
  }
  @media screen and (min-width: 619px) {
    .page { 
      margin: 36px auto 48px;
    }
}
@media screen and (min-width: 918px) {
  .page { 
    margin: 45px auto 60px;
  }
}