.popup__close{
    position: absolute;
    top: -37px;
    right: 0;
    width: 35px;
    height: 35px;
    background-image: url(../../../images/Close_Icon.svg);
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

@media screen and (min-width: 619px) {
    .popup__close {
       top: -33px;
       right: -33px;
       width: 40px;
       height: 40px;
    }
  }

.popup__close:hover{
    opacity: 0.6;
  }